CarManager/CarManager.xcodeproj/project.xcworkspace/xcuserdata/ivanznak.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
CarManager/CarManager.xcodeproj/project.xcworkspace/xcuserdata/ivanznak.xcuserdatad/UserInterfaceState.xcuserstate
